name: Release Please

on:
  push:
    branches:
      - release

jobs:
  release:
    uses: skjaere/debridav-ci/.github/workflows/reusable-release-please.yml@main
    permissions:
      contents: write
      pull-requests: write
